<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBlog-Home</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="navbar">
        <div class="left-navbar">

            <svg viewBox="0 0 234 134" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M96.9169 43.2614C96.6441 40.5114 95.4737 38.375 93.4055 36.8523C91.3373 35.3295 88.5305 34.5682 84.985 34.5682C82.576 34.5682 80.5419 34.9091 78.8828 35.5909C77.2237 36.25 75.951 37.1705 75.0646 38.3523C74.201 39.5341 73.7691 40.875 73.7691 42.375C73.7237 43.625 73.985 44.7159 74.5532 45.6477C75.1441 46.5795 75.951 47.3864 76.9737 48.0682C77.9964 48.7273 79.1782 49.3068 80.5191 49.8068C81.86 50.2841 83.2919 50.6932 84.8146 51.0341L91.0873 52.5341C94.1328 53.2159 96.9282 54.125 99.4737 55.2614C102.019 56.3977 104.224 57.7955 106.087 59.4545C107.951 61.1136 109.394 63.0682 110.417 65.3182C111.462 67.5682 111.996 70.1477 112.019 73.0568C111.996 77.3295 110.906 81.0341 108.746 84.1705C106.61 87.2841 103.519 89.7045 99.4737 91.4318C95.451 93.1364 90.5987 93.9886 84.9169 93.9886C79.2805 93.9886 74.3714 93.125 70.1896 91.3977C66.0305 89.6705 62.7805 87.1136 60.4396 83.7273C58.1214 80.3182 56.9055 76.1023 56.7919 71.0795H71.076C71.235 73.4205 71.9055 75.375 73.0873 76.9432C74.2919 78.4886 75.8941 79.6591 77.8941 80.4545C79.9169 81.2273 82.201 81.6136 84.7464 81.6136C87.2464 81.6136 89.4169 81.25 91.2578 80.5227C93.1214 79.7955 94.5646 78.7841 95.5873 77.4886C96.61 76.1932 97.1214 74.7045 97.1214 73.0227C97.1214 71.4545 96.6555 70.1364 95.7237 69.0682C94.8146 68 93.4737 67.0909 91.701 66.3409C89.951 65.5909 87.8032 64.9091 85.2578 64.2955L77.6555 62.3864C71.7691 60.9545 67.1214 58.7159 63.7123 55.6705C60.3032 52.625 58.61 48.5227 58.6328 43.3636C58.61 39.1364 59.735 35.4432 62.0078 32.2841C64.3032 29.125 67.451 26.6591 71.451 24.8864C75.451 23.1136 79.9964 22.2273 85.0873 22.2273C90.2691 22.2273 94.7919 23.1136 98.6555 24.8864C102.542 26.6591 105.565 29.125 107.724 32.2841C109.883 35.4432 110.996 39.1023 111.065 43.2614H96.9169Z"
                    fill="#E0AED0" />
                <path
                    d="M51.6734 123.226V53.4074H79.628C84.7644 53.4074 89.0484 54.1687 92.4803 55.6915C95.9121 57.2142 98.4916 59.3278 100.219 62.0324C101.946 64.7142 102.81 67.8051 102.81 71.3051C102.81 74.0324 102.264 76.4301 101.173 78.4983C100.083 80.5437 98.5825 82.2256 96.6734 83.5437C94.7871 84.8392 92.628 85.7596 90.1962 86.3051V86.9869C92.8553 87.1006 95.3439 87.8506 97.6621 89.2369C100.003 90.6233 101.901 92.5665 103.355 95.0665C104.81 97.5437 105.537 100.498 105.537 103.93C105.537 107.635 104.617 110.941 102.776 113.851C100.958 116.737 98.2644 119.021 94.6962 120.703C91.128 122.385 86.7303 123.226 81.503 123.226H51.6734ZM66.4348 111.157H78.4689C82.5825 111.157 85.5825 110.373 87.4689 108.805C89.3553 107.214 90.2984 105.101 90.2984 102.464C90.2984 100.532 89.8325 98.8278 88.9007 97.3506C87.9689 95.8733 86.6394 94.7142 84.9121 93.8733C83.2075 93.0324 81.1734 92.6119 78.8098 92.6119H66.4348V111.157ZM66.4348 82.6233H77.378C79.4007 82.6233 81.1962 82.271 82.7644 81.5665C84.3553 80.8392 85.6053 79.8165 86.5144 78.4983C87.4462 77.1801 87.9121 75.6006 87.9121 73.7596C87.9121 71.2369 87.0144 69.2028 85.2189 67.6574C83.4462 66.1119 80.9234 65.3392 77.6507 65.3392H66.4348V82.6233Z"
                    fill="#FFE5E5" />
                <path
                    d="M64.4659 53.1818V123H51.7159L21.3409 79.0568H20.8295V123H6.06818V53.1818H19.0227L49.1591 97.0909H49.7727V53.1818H64.4659Z"
                    fill="#AC87C5" />
                <path
                    d="M119.034 91V56.0909H132.807C135.443 56.0909 137.693 56.5625 139.557 57.5057C141.432 58.4375 142.858 59.7614 143.835 61.4773C144.824 63.1818 145.318 65.1875 145.318 67.4943C145.318 69.8125 144.818 71.8068 143.818 73.4773C142.818 75.1364 141.369 76.4091 139.472 77.2955C137.585 78.1818 135.301 78.625 132.619 78.625H123.398V72.6932H131.426C132.835 72.6932 134.006 72.5 134.938 72.1136C135.869 71.7273 136.563 71.1477 137.017 70.375C137.483 69.6023 137.716 68.642 137.716 67.4943C137.716 66.3352 137.483 65.358 137.017 64.5625C136.563 63.767 135.864 63.1648 134.92 62.7557C133.989 62.3352 132.813 62.125 131.392 62.125H126.415V91H119.034ZM137.886 75.1136L146.562 91H138.415L129.926 75.1136H137.886ZM157.864 91.4943C156.193 91.4943 154.705 91.2045 153.398 90.625C152.091 90.0341 151.057 89.1648 150.295 88.017C149.545 86.858 149.17 85.4148 149.17 83.6875C149.17 82.233 149.438 81.0114 149.972 80.0227C150.506 79.0341 151.233 78.2386 152.153 77.6364C153.074 77.0341 154.119 76.5795 155.29 76.2727C156.472 75.9659 157.71 75.75 159.006 75.625C160.528 75.4659 161.756 75.3182 162.688 75.1818C163.619 75.0341 164.295 74.8182 164.716 74.5341C165.136 74.25 165.347 73.8295 165.347 73.2727V73.1705C165.347 72.0909 165.006 71.2557 164.324 70.6648C163.653 70.0739 162.699 69.7784 161.46 69.7784C160.153 69.7784 159.114 70.0682 158.341 70.6477C157.568 71.2159 157.057 71.9318 156.807 72.7955L150.091 72.25C150.432 70.6591 151.102 69.2841 152.102 68.125C153.102 66.9545 154.392 66.0568 155.972 65.4318C157.563 64.7955 159.403 64.4773 161.494 64.4773C162.949 64.4773 164.341 64.6477 165.67 64.9886C167.011 65.3295 168.199 65.858 169.233 66.5739C170.278 67.2898 171.102 68.2102 171.705 69.3352C172.307 70.4489 172.608 71.7841 172.608 73.3409V91H165.722V87.3693H165.517C165.097 88.1875 164.534 88.9091 163.83 89.5341C163.125 90.1477 162.278 90.6307 161.29 90.983C160.301 91.3239 159.159 91.4943 157.864 91.4943ZM159.943 86.483C161.011 86.483 161.955 86.2727 162.773 85.8523C163.591 85.4205 164.233 84.8409 164.699 84.1136C165.165 83.3864 165.398 82.5625 165.398 81.642V78.8636C165.17 79.0114 164.858 79.1477 164.46 79.2727C164.074 79.3864 163.636 79.4943 163.148 79.5966C162.659 79.6875 162.17 79.7727 161.682 79.8523C161.193 79.9205 160.75 79.983 160.352 80.0398C159.5 80.1648 158.756 80.3636 158.119 80.6364C157.483 80.9091 156.989 81.2784 156.636 81.7443C156.284 82.1989 156.108 82.767 156.108 83.4489C156.108 84.4375 156.466 85.1932 157.182 85.7159C157.909 86.2273 158.83 86.483 159.943 86.483ZM178.241 64.8182H185.503V92.2955C185.503 94.3182 185.105 95.9545 184.31 97.2045C183.514 98.4545 182.372 99.3693 180.884 99.9489C179.406 100.528 177.639 100.818 175.582 100.818C175.332 100.818 175.094 100.813 174.866 100.801C174.628 100.801 174.378 100.795 174.116 100.784V95.108C174.31 95.1193 174.48 95.125 174.628 95.125C174.764 95.1364 174.912 95.142 175.071 95.142C176.241 95.142 177.06 94.892 177.526 94.392C178.003 93.9034 178.241 93.1648 178.241 92.1761V64.8182ZM181.855 61.4432C180.787 61.4432 179.866 61.0852 179.094 60.3693C178.321 59.642 177.935 58.7727 177.935 57.7614C177.935 56.7614 178.321 55.9034 179.094 55.1875C179.866 54.4602 180.787 54.0966 181.855 54.0966C182.946 54.0966 183.872 54.4602 184.634 55.1875C185.406 55.9034 185.793 56.7614 185.793 57.7614C185.793 58.7727 185.406 59.642 184.634 60.3693C183.872 61.0852 182.946 61.4432 181.855 61.4432ZM208.109 79.8523V64.8182H215.371V91H208.399V86.2443H208.126C207.536 87.7784 206.553 89.0114 205.178 89.9432C203.814 90.875 202.149 91.3409 200.183 91.3409C198.433 91.3409 196.893 90.9432 195.564 90.1477C194.234 89.3523 193.195 88.2216 192.445 86.7557C191.706 85.2898 191.331 83.5341 191.32 81.4886V64.8182H198.581V80.1932C198.592 81.7386 199.007 82.9602 199.825 83.858C200.643 84.7557 201.74 85.2045 203.115 85.2045C203.99 85.2045 204.808 85.0057 205.57 84.608C206.331 84.1989 206.945 83.5966 207.411 82.8011C207.888 82.0057 208.121 81.0227 208.109 79.8523ZM225.423 91.4432C224.298 91.4432 223.332 91.0455 222.526 90.25C221.73 89.4432 221.332 88.4773 221.332 87.3523C221.332 86.2386 221.73 85.2841 222.526 84.4886C223.332 83.6932 224.298 83.2955 225.423 83.2955C226.514 83.2955 227.469 83.6932 228.287 84.4886C229.105 85.2841 229.514 86.2386 229.514 87.3523C229.514 88.1023 229.321 88.7898 228.935 89.4148C228.56 90.0284 228.065 90.5227 227.452 90.8977C226.838 91.2614 226.162 91.4432 225.423 91.4432Z"
                    fill="#756AB6" />
            </svg>

        </div>
        <div class="right-navbar">
            <ul class="navlist">
                <li class="navbar-list-items">Home</li>
                <li class="navbar-list-items">Article</li>
                <li class="navbar-list-items">Deals</li>
                <li class="navbar-list-items">About</li>
                <li class="navbar-list-items">Contact</li>
                <li class="navbar-list-items item-search"><i class="fa-solid fa-magnifying-glass"></i></li>
                <input placeholder="Search..." type="text" name="search" class="search-style">
                <button type="button" class=" btn"><a href="/post/add">Add post</a></button>
            </ul>
        </div>
    </div>
    <div class="main-container">
        <div class="what-box">
            What do I do?
        </div>
        <div class="container">
            <p><b> I explain and teach technology, solve tech problems and help you make gadge buying decisions.</b></p>
        </div>
        <div class="subscribe-request">
            <p>SUBSCRIBE TO MY NEWSLETTER</p>
            <form method="post" action="/email/submit">
                <input placeholder="example@gmail.com" name="mail" class="email-container" required>
                <button class="btns" type="submit">Subscribe!</button>
            </form>
        </div>
    </div>
    <div class="posts">
        <h2>My Posts</h2>
        <div class="card-container">
            <% for(let post of lastPostData){%>
                <div class="card">
                    <div class="image-container">
                        <img src="<%= post.image %>" alt="">
                    </div>
                    <div class="title-container">
                        <h3>
                            <%=post.title%>
                        </h3>
                    </div>
                    <div class="content-container">
                        <p>
                            <%= post.content %>
                        </p>
                    </div>
                </div>
                <%}%>
        </div>
    </div>
    <div class="special-container">
        <div class="heading">
            <h2>Also Featured In.</h2>
        </div>
        <div class="images">
            <div class="image one1">Robotics</div>
            <div class="image one2">Artificial Intelligence</div>
            <div class="image one3">VR</div>
        </div>
    </div>
    <div class="social-footer">
        <div class="social"><i class="fa-brands fa-facebook"></i>FaceBook</div>
        <div class="social"><i class="fa-brands fa-github"></i>Github</div>
        <div class="social"><i class="fa-brands fa-instagram"></i>Instagram</div>
        <div class="social"><i class="fa-brands fa-threads"></i>Thread</div>
    </div>
    <div class="contact-footer">
        <div class="photo">
        </div>
        <div class="about-me">
            <h3>About Me</h3>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem dolor eligendi inventore itaque, dicta
                rerum explicabo id delectus officia dignissimos distinctio fugit laborum voluptatibus voluptatum et rem
                voluptas repellat harum debitis ipsum natus illum nostrum.</p>
            <br>
            <p><a href="">Read More..</a></p>
        </div>
        <div class="details-container">
            <h2>Contact For More Info</h2>
            <form action="/post/connects" method="post" class="contact-form">
                <input type="text" name="name" class="connects-input" id="name" placeholder="Name">
                <input type="email" name="email" class="connects-input" id="email" placeholder="example@gmail.com">
                <input type="number" name="phn" class="connects-input" id="phonenumber" placeholder="Phone Number">
                <textarea name="msg" cols="30" rows="10" class="connects-input" id="textarea"
                    placeholder="Type your message here."></textarea>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>
<script src="app.js"></script>
</body>

</html>