*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container{
    height: 20rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    margin: 5rem;
}

